extends layout
include mixins

block content
    .grunge
    .grid
    .container
        img.logo(src="images/logo.png", alt="MMODM")
        .menu
            .pauseplay.button
                img.play.off(src="images/play.png", alt="Play")
                img.pause(src="images/pause.png", alt="Pause")
            img.stop.button(src="images/stop.png", alt="Stop")
            img.restart.button(src="images/restart.png", alt="Restart")
            .tempo
                img.larrow.button(src="images/larrow.png", alt="<")
                .text=120
                img.rarrow.button(src="images/rarrow.png", alt=">")
            .filters.button
                img.lowpass(src="images/lowpass.png")
                img.highpass(src="images/highpass.png")
                p low / high pass
                .slider
                    span="• • • • • • • • • • "
                    span="| "
                    span="• • • • • • • • • •"
                    .bar
            img.clear.button(src="images/clear-menu.png", alt="Clear Sequence")
        .sequences
            mixin drumLine('a')
            mixin drumLine('b')
            mixin drumLine('c')
            mixin drumLine('d')
            mixin drumLine('e')
            mixin drumLine('f')
            mixin drumLine('g')
            mixin drumLine('h')
            mixin drumLine('i')
            mixin drumLine('j')
            mixin drumLine('k')
            mixin drumLine('l')
            mixin drumLine('m')
            mixin drumLine('n')
            mixin drumLine('o')
            mixin drumLine('p')
            mixin drumLine('q')
            mixin drumLine('r')
            mixin drumLine('s')
            mixin drumLine('t')
            mixin drumLine('u')
            mixin drumLine('v')
            mixin drumLine('w')
            mixin drumLine('x')
            mixin drumLine('y')
            mixin drumLine('z')
        .effects
            img.clear.button.on(src="images/clear-effects.png", alt="Clear Effects")
            .stutter
                img.none.button.on(src="images/stutter-none.png", alt="No Stutter")
                img.full.button(src="images/stutter-full.png", alt="1 Stutter")
                img.half.button(src="images/stutter-half.png", alt="1/2 Stutter")
                img.quarter.button(src="images/stutter-quarter.png", alt="1/4 Stutter")
                img.eighth.button(src="images/stutter-eighth.png", alt="1/8 Stutter")
            .gater
                img.none.button.on(src="images/gater-none.png", alt="No Gater")
                img.half.button(src="images/gater-half.png", alt="1:1 Gater")
                img.third.button(src="images/gater-third.png", alt="2:1 Gater")
        mixin tweetForm('images/basheer.jpg','Basheer')
    .help ?