mixin tweetForm(imgSource, imgAlt)
    form(action="#", id='simForm',class="twitter")
        if(!user)
            a.login.button(href='/auth/twitter')
                img(src="images/twitter_logo.png")
                p Login with Twitter

        else
            img(class="avatar", src=user.image, alt=user.name)
            input(type="text", placeholder="ex: riff on this [a--a--a--abc--cc] with me on #mmodm", class="tweet")
            input(type="submit", value="Tweet", class="post")

mixin drumLine(name)
    ul(class=name)
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li(class="label")=name
