mixin tweetForm(imgSource, imgAlt)
    form(method="POST", action="/", class="twitter")
        img(class="avatar", src=imgSource, alt=imgAlt)
        input(type="text", placeholder="ex: riff on this [a--a--a--abc--cc] with me on #mmodm", class="tweet")
        input(type="submit", value="post", class="post")

mixin drumLine(name)
    ul(class=name)
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li=name
