mixin tweetForm(imgSource, imgAlt)
    form.twitter(action="#", id='simForm')
        if(!user)
            a.introtip.login.button(href='/auth/twitter', title="To add your own notes, sign in with Twitter.")
                img(src="images/twitter_logo.png")
                p Login with Twitter

        else
            img.avatar(src=user.image, alt=user.name)
            input.introtip.tweet(type="text", placeholder="ex: riff on this [o---o---o---oz--z-zzz-zz] with me on #mmodm", autocomplete="off", title="Tweet a sequence of letters and dashes.")
            input.post(type="submit", value="Tweet")

mixin drumLine(name)
    ul(class=name)
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li(class="label")=name
