mixin tweetForm(imgSource, imgAlt)
    form.twitter(action="#", id='simForm')
        - if(room)
            a.introtip.login.button(href='https://twitter.com/intent/tweet?url=http://mmodm.co/&amp;text=riff with me [z--z--zzz-d-d-d-de--eee-e]&amp;via=playmmodm&amp;hashtags='+room+',MMODM', title="To add your own beats.")
                        img(src="images/twitter_logo.png")
                        p Tweet to #
                            span=room
        - else
            a.introtip.login.button(href='https://twitter.com/intent/tweet?url=http://mmodm.co/&amp;text=riff with me [z--z--zzz-d-d-d-de--eee-e]&amp;via=playmmodm&amp;hashtags=MMODM', title="To add your own beats.")
                        img(src="images/twitter_logo.png")
                        p Tweet to #MMODM

mixin drumLine(name)
    ul(class=name)
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li
            span(data-life="0")
        li(class="label")=name
