* { margin:0; padding:0; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}

body {
	background: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.grid {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url('../images/grid.png') 12.5px 12.5px;
	background-size: 25px 25px;
	opacity: .15;
	z-index: 2;
}

.grunge {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url('../images/grunge.jpg');
	background-size: 1000px 750px;
	opacity: .75;
	z-index: 1;
}

.container {
	position: relative;
	z-index: 10;
	text-align: center;
	padding-top: 30px;
}

.logo {
	width: 250px;
	max-width: 100%;
	height: 75px;
}

.sequences {
	position: relative;
	width: 750px;
	margin: 10px auto 0 auto;
	background: #000;
	padding: 20px 0px 0px 5px;
}

.sequences ul {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

.sequences ul:first-child {
	margin-left: 20px;
}

.sequences li {
	position: relative;
	display: block;
	width: 8px;
	height: 8px;
	margin-bottom: 20px;
	z-index: 5;
	-webkit-transition: -webkit-transform .05s linear;
	-moz-transition: -moz-transform .05s linear;
	transition: transform .05s linear;
}

.sequences li span {
	position: absolute;
	top: 0; left: 0;
	width: 8.5px;
	height: 8px;
	opacity: .125;
}

.a {color: #3fa7ff;}
.a li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 167, 255, .225);}
.a li span {background: #3fa7ff;}
.a.locked::after {box-shadow: 0 0 0 1px;}
li.a {background: #3fa7ff;}

.b {color: #3f80ff;}
.b li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 128, 255, .225);}
.b li span {background: #3f80ff;}
.b.locked::after {box-shadow: 0 0 0 1px;}
li.b {background: #3f80ff;}

.c {color: #3f5aff;}
.c li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 90, 255, .225);}
.c li span {background: #3f5aff;}
.c.locked::after {box-shadow: 0 0 0 1px;}
li.c. {background: #3f5aff;}

.d {color: #4a3fff;}
.d li:not(:last-child) {box-shadow: 0 0 0 1px rgba(74, 63, 255, .225);}
.d li span {background: #4a3fff;}
.d.locked::after {box-shadow: 0 0 0 1px;}
li.d. {background: #4a3fff;}

.e {color: #703fff;}
.e li:not(:last-child) {box-shadow: 0 0 0 1px rgba(112, 63, 255, .225);}
.e li span {background: #703fff;}
.e.locked::after {box-shadow: 0 0 0 1px;}
li.e {background: #703fff;}

.f {color: #973fff;}
.f li:not(:last-child) {box-shadow: 0 0 0 1px rgba(151, 63, 255, .225);}
.f li span {background: #973fff;}
.f.locked::after {box-shadow: 0 0 0 1px;}
li.f {background: #973fff;}

.g {color: #bd3fff;}
.g li:not(:last-child) {box-shadow: 0 0 0 1px rgba(189, 63, 255, .225);}
.g li span {background: #bd3fff;}
.g.locked::after {box-shadow: 0 0 0 1px;}
li.g {background: #bd3fff;}

.h {color: #e33fff;}
.h li:not(:last-child) {box-shadow: 0 0 0 1px rgba(227, 63, 255, .225);}
.h li span {background: #e33fff;}
.h.locked::after {box-shadow: 0 0 0 1px;}
li.h {background: #e33fff;}

.i {color: #ff3ff3;}
.i li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 63, 243, .225);}
.i li span {background: #ff3ff3;}
.i.locked::after {box-shadow: 0 0 0 1px;}
li.i {background: #ff3ff3;}

.j {color: #ff3fcd;}
.j li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 63, 205, .225);}
.j li span {background: #ff3fcd;}
.j.locked::after {box-shadow: 0 0 0 1px;}
li.j {background: #ff3fcd;}

.k {color: #ff3fa6;}
.k li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 63, 166, .225);}
.k li span {background: #ff3fa6;}
.k.locked::after {box-shadow: 0 0 0 1px;}
li.k {background: #ff3fa6;}

.l {color: #ff3f80;}
.l li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 63, 128, .225);}
.l li span {background: #ff3f80;}
.l.locked::after {box-shadow: 0 0 0 1px;}
li.l {background: #ff3f80;}

.m {color: #ff3f5a;}
.m li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 63, 90, .225);}
.m li span {background: #ff3f5a;}
.m.locked::after {box-shadow: 0 0 0 1px;}
li.m {background: #ff3f5a;}

.n {color: #ff4a3f;}
.n li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 74, 63, .225);}
.n li span {background: #ff4a3f;}
.n.locked::after {box-shadow: 0 0 0 1px;}
li.n {background: #ff4a3f;}

.o {color: #ff703f;}
.o li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 112, 63, .225);}
.o li span {background: #ff703f;}
.o.locked::after {box-shadow: 0 0 0 1px;}
li.o {background: #ff703f;}

.p {color: #ff973f;}
.p li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 151, 63, .225);}
.p li span {background: #ff973f;}
.p.locked::after {box-shadow: 0 0 0 1px;}
li.p {background: #ff973f;}

.q {color: #ffbd3f;}
.q li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 189, 63, .225);}
.q li span {background: #ffbd3f;}
.q.locked::after {box-shadow: 0 0 0 1px;}
li.q {background: #ffbd3f;}

.r {color: #ffe33f;}
.r li:not(:last-child) {box-shadow: 0 0 0 1px rgba(255, 227, 63, .225);}
.r li span {background: #ffe33f;}
.r.locked::after {box-shadow: 0 0 0 1px;}
li.r {background: #ffe33f;}

.s {color: #f3ff3f;}
.s li:not(:last-child) {box-shadow: 0 0 0 1px rgba(243, 255, 63, .225);}
.s li span {background: #f3ff3f;}
.s.locked::after {box-shadow: 0 0 0 1px;}
li.s {background: #f3ff3f;}

.t {color: #cdff3f;}
.t li:not(:last-child) {box-shadow: 0 0 0 1px rgba(205, 255, 63, .225);}
.t li span {background: #cdff3f;}
.t.locked::after {box-shadow: 0 0 0 1px;}
li.t {background: #cdff3f;}

.u {color: #a6ff3f;}
.u li:not(:last-child) {box-shadow: 0 0 0 1px rgba(166, 255, 63, .225);}
.u li span {background: #a6ff3f;}
.u.locked::after {box-shadow: 0 0 0 1px;}
li.u {background: #a6ff3f;}

.v {color: #80ff3f;}
.v li:not(:last-child) {box-shadow: 0 0 0 1px rgba(128, 255, 63, .225);}
.v li span {background: #80ff3f;}
.v.locked::after {box-shadow: 0 0 0 1px;}
li.v {background: #80ff3f;}

.w {color: #5aff3f;}
.w li:not(:last-child) {box-shadow: 0 0 0 1px rgba(90, 255, 63, .225);}
.w li span {background: #5aff3f;}
.w.locked::after {box-shadow: 0 0 0 1px;}
li.w {background: #5aff3f;}

.x {color: #3fff4a;}
.x li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 255, 74, .225);}
.x li span {background: #3fff4a;}
.x.locked::after {box-shadow: 0 0 0 1px;}
li.x {background: #3fff4a;}.y {color: #3fff70;}

.y li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 255, 112, .225);}
.y li span {background: #3fff70;}
.y.locked::after {box-shadow: 0 0 0 1px;}
li.y {background: #3fff70;}

.z {color: #3fff97;}
.z li:not(:last-child) {box-shadow: 0 0 0 1px rgba(63, 255, 151, .225);}
.z li span {background: #3fff97;}
.z.locked::after {box-shadow: 0 0 0 1px;}
li.z {background: #3fff97;}

.sequences ul.locked::after {
	content: "";
	display: block;
	position: absolute;
	top: 1px; left: 4px;
	width: 0px; height: 426px;
	-webkit-animation: slide .2s linear;
	-moz-animation: slide .2s linear;
	animation: slide .2s linear;
}

.sequences li.label {
	background: none;
	text-transform: uppercase;
	font-size: 10px;
	opacity: 1;
	cursor: pointer;
}

.label:hover {
	opacity: 1 !important;
}

.label:active {
	position: relative;
	top: 1px;
}

.pulse {
	-webkit-animation: pulse .1s linear;
	-moz-animation: pulse .1s linear;
	animation: pulse .1s linear;
}

.glow {
	-webkit-animation: glow 1s linear;
	-moz-animation: glow 1s linear;
	animation: glow 1s linear;
}

@-webkit-keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}
@keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}

@-webkit-keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}
@-moz-keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}
@keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}

@-webkit-keyframes slide {
    0% { opacity: .25; height: 0px; }
    50% { opacity: 1; }
    100% { opacity: .25; height: 426px; }
}
@-moz-keyframes slide {
    0% { opacity: .25; height: 0px; }
    50% { opacity: 1; }
    100% { opacity: .25; height: 426px; }
}
@keyframes slide {
    0% { opacity: .25; height: 0px; }
    50% { opacity: 1; }
    100% { opacity: .25; height: 426px; }
}

.paused {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
}

.button {
	display: inline-block;
	cursor: pointer;
}

.button:hover {
	opacity: 1 !important;
}

.button:active {
	position: relative;
	top: 1px;
}

.button.on {
	opacity: 1 !important;
}

.button .off {
	opacity: 0 !important;
}

.menu {
	width: 710px;
	margin: 30px auto 5px auto;
}

.menu .button {
	height: 10px;
	width: 10px;
	padding: 10px;
	margin-right: 50px;
	background: #222;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #222;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.save.button {
	width: 16px;
	height: 16px;
	padding: 7px;
	margin-right: 20px;
}

.room.button {
	position: relative;
	padding: 0;
	height: 30px;
	width: 30px;
}

.room.button.opened:active {
	top: 0;
}

.room.button img {
	width: 16px;
	height: 16px;
	padding: 7px;
	margin-bottom: 1px;
}

.roomform {
	display: none;
	position: absolute;
	bottom: 50px; left: 0;
	width: 277px;
	padding: 10px 14px;
	text-align: left;
	background: #fff;
	z-index: 15;
	border-radius: 6px;
	border: 0;
	box-shadow: 0 0 10px 1px #000;
}

.roomform p {
	margin-right: 10px;
}

.roomform p, .roomform input {
	display: inline-block;
}

.roomform input:first-of-type {
	background: #fff;
	color: #333;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.2);
	margin-right: 10px;
}

.roomform input:last-child {
	padding: 6px 7px;
	border: 0;
	background: #3fa7ff;
	color: #fff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}

.roomform input:last-child:active {
	position: relative;
	top: 1px;
}

.restart.button {
	height: 12.5px;
	width: 12.5px;
	padding: 8.75px;
	margin-right: 40px;
}

.pauseplay.button {
	position: relative;
	padding: 0;
	height: 30px;
	width: 30px;
	margin-right: 20px;
}

.pauseplay img {
	height: 12.5px;
	width: 12.5px;
	padding: 8.75px;
	position: absolute;
	top: 0;
	left: 0;
}

.stop.button {
	margin-right: 20px;
}

.tempo {
	display: inline-block;
	margin-right: 40px;
}

.tempo .larrow, .tempo .rarrow {
	position: relative;
	z-index: 1;
	margin-right: 0;
}

.tempo .button.larrow:active, .tempo .button.rarrow:active {
	box-shadow: 0 -1px 0 5px #222;
}

.tempo .text {
	position: relative;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	padding: 0 20px;
	margin: 0 -8px;
	font-size: 15px;
	vertical-align: text-bottom;
	color: #fff;
	background: #222;
	border: 1px solid #222;
	border-top: 2px solid #222;
	box-shadow: 0 0 0 2px #222;
	z-index: 0;
}

.filters {
	display: inline-block;
}

.filters.button {
	position: relative;
	width: auto;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	margin-right: 40px;
	font-size: 15px;
	vertical-align: text-bottom;
	color: #fff;
	background: #222;
	border-top: 2px solid #222;
	box-shadow: 0 0 0 2px #222;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #222;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.lowpass, .highpass {
	width: 16px;
	margin: 0 16px -4px 0px;
}

.filters p {
	display: inline-block;
}

.slider {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 5px;
	color: rgba(255,255,255,.45);
	letter-spacing: 2.25px;
	cursor: crosshair;
}

.slider span {
	position: relative;
	z-index: 1;
}

.slider span:nth-child(2) {
	color: #fff;
}

.slider .bar {
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #3fa7ff;
	border-radius: 2px;
	z-index: 0;
	clip: rect(0,0,0,0);
}

.filters.sliding:active {
	top: 0px;
}

.filters.sliding .lowpass,
.filters.sliding .highpass,
.filters.sliding p {
	visibility: hidden;
}

.filters.sliding .slider {
	visibility: visible;
}

.menu .clear {
	margin-right: 0;
}

.effects {
	width: 710px;
	margin: 10px auto 5px auto;
}

.effects .button {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background: #222;
	border: 5px solid #222;
	opacity: .3;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.effects .clear {
	margin-right: 85px;
}

.stutter {
	display: inline-block;
	margin-right: 85px;
}

.effects div .button {
	margin-right: 15px;
}

.effects div .button:last-child {
	margin-right: 0px;
}

.gater {
	display: inline-block;
}

.twitter {
	display: inline-block;
	width: 630px;
	margin: 25px 0 40px 0;
}

.avatar {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	float: left;
}

.tweet {
	background: #fff;
	color: #444;
	height: 35px;
	width: 488px;
	font-size: 15px;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	border: none;
	float: left;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.login{
	background-color:#55ACEE;
	position: relative;
	width: auto;
	height: 46px;
	line-height: 35px;
	padding: 0 20px;
	font-size: 18px;
	vertical-align: text-bottom;
	color: #fff;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #55ACEE;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.login img{
	height: 30px;
	width: 38px;
	margin-top: 8px;
}

.login p{
	float: right;
	font-size: 18px;
	margin: 5px 0 0 12px
}

.post {
	background: #55ACEE;
	color: #fff;
	font-size: 15px;
	margin: 0;
	padding: 0;
	border: none;
	height: 35px;
	width: 80px;
	float: left;
	cursor: pointer;
}

.help, .twitterlink, .github {
	position: absolute;
	top: 35px;
	right: 35px;
	width: 25px;
	height: 35px;
	background: #1e1e1e;
	color: #565656;
	font-size: 25px;
	line-height: 35px;
	padding-left: 10px;
	text-shadow: 0 2px 0 rgba(0,0,0,.15);
	z-index: 11;
	cursor: pointer;
	-webkit-transition: background .15s linear, color .15s linear;
	-moz-transition: background .15s linear, color .15s linear;
	transition: background .15s linear, color .15s linear;
}

.help:hover, .twitterlink:hover, .github:hover {
	background: #55ACEE;
	color: #fff;
}

.twitterlink:hover img, .github:hover img {
	opacity: 1;
}

.help:active, .twitterlink:active, .github:active {
	top: 36px;
}

.twitterlink {
	top: 80px;
	line-height: 31px;
	padding-left: 9px;
	padding-right: 1px;
}

.twitterlink:active {
	top: 81px;
}

.twitterlink img {
	width: 18px;
	opacity: .25;
}

.github {
	padding-left: 8px;
	padding-right: 2px;
	right: 80px;
}

.github img {
	width: 19px;
	opacity: .25;
}

.tooltipster-content {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.stream {
	position: absolute;
	display: block;
	width: calc(100% - 8px);
	height: 2px;
	top: 4px;
	left: 4px;
	z-index: 50;
	overflow:hidden;
}

.stream li {
	display: inline-block;
	width: 32px;
	height: 2px;
	vertical-align: top;
}

.stream ul {
	position: absolute;
	left: 100%;
	-webkit-animation: shrink 10s ease-out;
	-moz-animation: shrink 10s ease-out;
	animation: shrink 10s ease-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes shrink {
    0% { left: 100%; }
    99% { left: -100%; opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes shrink {
    0% { left: 100%; }
    99% { left: -100%; opacity: 1; }
    100% { opacity: 0; }
}
@keyframes shrink {
    0% { left: 100%; }
    99% { left: -100%; opacity: 1; }
    100% { opacity: 0; }
}
