* { margin:0; padding:0; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}

body {
	background: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.grid {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url('../images/grid.png') 12.5px 12.5px;
	background-size: 25px 25px;
	opacity: .15;
	z-index: 2;
}

.grunge {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url('../images/grunge.jpg');
	background-size: 1000px 750px;
	opacity: .75;
	z-index: 1;
}

.container {
	position: relative;
	z-index: 10;
	text-align: center;
	padding-top: 50px;
}

.logo {
	width: 250px;
	max-width: 100%;
	height: 75px;
}

.sequences {
	position: relative;
	width: 750px;
	margin: 30px auto 0 auto;
	background: #000;
	padding: 20px 0px 0px 5px;
}

.sequences ul {
	display: inline-block;
	margin-right: 20px;
}

.sequences ul:first-child {
	padding-left: 20px;
}

.sequences li {
	position: relative;
	display: block;
	width: 8px;
	height: 8px;
	margin-bottom: 20px;
	z-index: 5;
	opacity: .125;
	-webkit-transition: -webkit-transform .05s linear;
	-moz-transition: -moz-transform .05s linear;
	transition: transform .05s linear;
}

.a li {background: #3fa7ff; color: #3fa7ff;} .b li {background: #3f80ff; color: #3f80ff;} .c li {background: #3f5aff; color: #3f5aff;} .d li {background: #4a3fff; color: #4a3fff;} .e li {background: #703fff; color: #703fff;} .f li {background: #973fff; color: #973fff;} .g li {background: #bd3fff; color: #bd3fff;} .h li {background: #e33fff; color: #e33fff;} .i li {background: #ff3ff3; color: #ff3ff3;} .j li {background: #ff3fcd; color: #ff3fcd;} .k li {background: #ff3fa6; color: #ff3fa6;} .l li {background: #ff3f80; color: #ff3f80;} .m li {background: #ff3f5a; color: #ff3f5a;} .n li {background: #ff4a3f; color: #ff4a3f;} .o li {background: #ff703f; color: #ff703f;} .p li {background: #ff973f; color: #ff973f;} .q li {background: #ffbd3f; color: #ffbd3f;} .r li {background: #ffe33f; color: #ffe33f;} .s li {background: #f3ff3f; color: #f3ff3f;} .t li {background: #cdff3f; color: #cdff3f;} .u li {background: #a6ff3f; color: #a6ff3f;} .v li {background: #80ff3f; color: #80ff3f;} .w li {background: #5aff3f; color: #5aff3f;} .x li {background: #3fff4a; color: #3fff4a;} .y li {background: #3fff70; color: #3fff70;} .z li {background: #3fff97; color: #3fff97;}

.sequences li.label {
	background: none;
	text-transform: uppercase;
	font-size: 10px;
	opacity: 1;
	cursor: pointer;
}

.label:hover {
	opacity: 1 !important;
}

.label:active {
	position: relative;
	top: 1px;
}

.pulse {
	-webkit-animation: pulse .1s linear;
	-moz-animation: pulse .1s linear;
	animation: pulse .1s linear;
}

.glow {
	-webkit-animation: glow 1s linear;
	-moz-animation: glow 1s linear;
	animation: glow 1s linear;
}

@-webkit-keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}
@keyframes pulse {
    0% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
    50% {
    	-webkit-transform: scale(1.5);
    	-moz-transform: scale(1.5);
    	transform: scale(1.5);
    }
    100% {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
    }
}

@-webkit-keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}
@-moz-keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}
@keyframes glow {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}

.paused {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
}

.button {
	display: inline-block;
	cursor: pointer;
}

.button:hover {
	opacity: 1 !important;
}

.button:active {
	position: relative;
	top: 1px;
}

.button.on {
	opacity: 1 !important;
}

.button .off {
	opacity: 0 !important;
}

.menu {
	width: 710px;
	margin: 10px auto 5px auto;
}

.menu .button {
	height: 10px;
	width: 10px;
	padding: 10px;
	margin-right: 50px;
	background: #222;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #222;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.restart.button {
	height: 12.5px;
	width: 12.5px;
	padding: 8.75px;
	margin-right: 66px;
}

.pauseplay.button {
	position: relative;
	padding: 0;
	height: 30px;
	width: 30px;
	margin-right: 25px;
}

.pauseplay img {
	height: 12.5px;
	width: 12.5px;
	padding: 8.75px;
	position: absolute;
	top: 0;
	left: 0;
}

.stop.button {
	margin-right: 25px;
}

.tempo {
	display: inline-block;
	margin-right: 66px;
}

.tempo .larrow, .tempo .rarrow {
	position: relative;
	z-index: 1;
	margin-right: 0;
}

.tempo .button.larrow:active, .tempo .button.rarrow:active {
	box-shadow: 0 -1px 0 5px #222;
}

.tempo .text {
	position: relative;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	padding: 0 20px;
	margin: 0 -8px;
	font-size: 15px;
	vertical-align: text-bottom;
	color: #fff;
	background: #222;
	border: 1px solid #222;
	border-top: 2px solid #222;
	box-shadow: 0 0 0 2px #222;
	z-index: 0;
}

.filters {
	display: inline-block;
}

.filters.button {
	position: relative;
	width: auto;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	margin-right: 67px;
	font-size: 15px;
	vertical-align: text-bottom;
	color: #fff;
	background: #222;
	border-top: 2px solid #222;
	box-shadow: 0 0 0 2px #222;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #222;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.lowpass, .highpass {
	width: 16px;
	margin: 0 16px -4px 0px;
}

.filters p {
	display: inline-block;
}

.slider {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 5px;
	color: rgba(255,255,255,.45);
	letter-spacing: 2.25px;
	cursor: crosshair;
}

.slider span {
	position: relative;
	z-index: 1;
}

.slider span:nth-child(2) {
	color: #fff;
}

.slider .bar {
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #3fa7ff;
	border-radius: 2px;
	z-index: 0;
	clip: rect(0,0,0,0);
}

.filters.sliding:active {
	top: 0px;
}

.filters.sliding .lowpass,
.filters.sliding .highpass,
.filters.sliding p {
	visibility: hidden;
}

.filters.sliding .slider {
	visibility: visible;
}

.menu .clear {
	margin-right: 0;
}

.effects {
	width: 710px;
	margin: 10px auto 5px auto;
}

.effects .button {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background: #222;
	border: 5px solid #222;
	opacity: .3;
	-webkit-transition: .15s opacity ease-in-out;
	-moz-transition: .15s opacity ease-in-out;
	transition: .15s opacity ease-in-out;
}

.effects .clear {
	margin-right: 85px;
}

.stutter {
	display: inline-block;
	margin-right: 85px;
}

.effects div .button {
	margin-right: 15px;
}

.effects div .button:last-child {
	margin-right: 0px;
}

.gater {
	display: inline-block;
}

.twitter {
	display: inline-block;
	width: 630px;
	margin: 25px 0 40px 0;
}

.avatar {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	float: left;
}

.tweet {
	background: #fff;
	color: #444;
	height: 35px;
	width: 488px;
	font-size: 15px;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	border: none;
	float: left;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.post {
	background: #3fa7ff;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,.25);
	margin: 0;
	padding: 0;
	border: none;
	height: 35px;
	width: 80px;
	float: left;
	cursor: pointer;
}

.help {
	position: absolute;
	top: 35px;
	right: 35px;
	width: 25px;
	height: 35px;
	background: #1e1e1e;
	color: #565656;
	font-size: 25px;
	line-height: 35px;
	padding-left: 10px;
	text-shadow: 0 2px 0 rgba(0,0,0,.5);
	z-index: 11;
	cursor: pointer;
}
